
@model Online_Shop.ViewModel.DetailsVm;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/StyleSheet.css" />
<br />
<h1>Details</h1>
<div>
    <br />
    <h4>Product</h4>
    <hr />
    @using (Html.BeginForm())
    {
        <input type="hidden" name="id" value="@Model.Products.Id" />
        <div style="display:inline-block; ">
            <img src="@("~/image/" + Model.Products.Image)" asp-append-version="true" height="200vh" />
        </div>

        <div style="display: inline-block; vertical-align: top;margin-top:2em; width:75%">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Products.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Products.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Products.Discription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Products.Discription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Products.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Products.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Products.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Products.Category.Category)
                </dd>
                <dd class="col-sm-2">
                    <label style="font-weight:bold">Quantity</label>

                </dd>
                <dd class="col-sm-10">
                    <input type="number" placeholder="Qty" min="1" max="10" name="Qty" value="1" />
                </dd>
            </dl>
        </div>
        <div style="margin-top:1.5em">

            @if (Model.ExitsInCart)
            {
                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@Model.Products.Id" class="btn btn-warning">Remove From Cart</a> <a />
            }
            else
            {

                <input style="padding-right:100px" type="submit" value="Add To Cart" class="btn btn-dark" />
            }

            <a class="btn btn-dark" asp-action="Index">Back to Products</a>
        </div>
    }
</div>

